{% extends 'base.html.twig' %}

{% block title %}Hello AbonnementController!{% endblock %}

{% block body %}
<div class="container">
    <h1>Une erreur est survévu lors de votre paiement</h1>
</div>
    
{% endblock %}
