 
 {% block body %}
 <br>
<div class="container" id="font">
 <footer class="monfooter">
        <a href="{{path('home')}}"><i class="fa fa-chevron-up" aria-hidden="true"></i></a>
        <h5 class="copyright"> &copy; 2O20 BLOG Keletigui</h5>                                        <!--&copy; permet de mettre le sympbole de copyright-->
</footer>
</div>
{% endblock %}

